@(
        marca: String,
        lstRepuestos: java.util.List[Repuesto])


<!DOCTYPE html>
<html>
    <head lang="en">

        <title>Busqueda Rapida: Caradvisor</title>
        <meta charset="UTF-8">
            <!-- Bootstrap -->
        <link href="@routes.Assets.at("css/bootstrap2.min.css")" rel="stylesheet">
            <!-- Bootstrap theme -->
        <link href="@routes.Assets.at("css/bootstrap-theme.css")" rel="stylesheet">
            <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("css/signin.css")" rel="stylesheet">
    </head>
    <body background="../assets/wallpaperweb.jpg" style="background-size : auto">

        @header()


    <div class="container" style="margin-top : 5%">

        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Repuestos a comprar</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div>
                        <text class="h2">&nbsp; Marca: @marca</text>
                    </div>
                </div>
                <div class="row" style="margin-top : 5 %">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Marca</th>
                                <th>Tipo</th>
                                <th>Origen</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(repuesto <- lstRepuestos) {
                            <tr>
                                <td>@repuesto.getMarca</td>
                                <td>@repuesto.getTipo</td>
                                <td>@repuesto.getOrigen</td>
                                <td>@repuesto.getTipo_repuesto</td>
                            </tr>
                        }
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        </div>


       @footer()


            <!-- Bootstrap core JavaScript
   ================================================== -->


            <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("js/jquery-2.1.4.min.js")"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>

    </body>
</html>