@(error: Integer,
        marca: String,
        modelo: String,
        km: Integer,
        lstMantenimiento: java.util.List[Mantenimiento])

<!DOCTYPE html>
<html>
    <head lang="en">

        <title>Busqueda Rapida: Caradvisor</title>
        <meta charset="UTF-8">
            <!-- Bootstrap -->
        <link href="@routes.Assets.at("css/bootstrap2.min.css")" rel="stylesheet">
            <!-- Bootstrap theme -->
        <link href="@routes.Assets.at("css/bootstrap-theme.css")" rel="stylesheet">
            <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("css/signin.css")" rel="stylesheet">
    </head>
    <body background="../assets/wallpaperweb.jpg" style="background-size : auto">

        @cabecera()


        <div class="container" style="margin-top : 5%">

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Servicio a realizar</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <text class="h2">Marca: @marca</text>
                        </div>
                        <div class="col-md-4">
                            <text class="h2">Modelo: @modelo</text>
                        </div>
                        <div class="col-md-4">
                            <text class="h2">Kilometraje: @km</text>
                        </div>
                    </div>
                    <div class="row" style="margin-top : 5 %">
                        <ul class="list-group">
                        @for(mantenimiento <- lstMantenimiento) {
                            <li class="list-group-item">
                                <text class="h4">- @mantenimiento.getLinea</text>
                            </li>
                        }
                        </ul>
                    </div>
                </div>

            </div>


        </div>

        <div class="container">
            <form action="@routes.Application.BusquedaRepuesto()" method="post">
                <input type="hidden" name="marcabr" id="marcabr" value="@marca">
            <div class="panel  panel-danger">
                <div class="panel-heading">Busqueda por Repuesto</div>
                <div class="panel-body">

                    <div class="container col-md-6">
                        <div class="form-group">
                            <label for="sel1">Tipo de Repuesto</label>
                            <select class="form-control" id="trepuesto" name="trepuesto">
                                <option>Sistema</option>
                                <option>Producto de Consumo</option>
                                <option>Accesorios</option>
                            </select>
                        </div>
                    </div>


                    <div class="container col-md-6">
                        <div class="form-group">
                            <label for="sel1">Repuesto</label>
                            <select class="form-control" id="repuesto" name="repuesto">
                                <option>Inyeccion</option>
                                <option>Suspension</option>
                                <option>Trasmision</option>
                                <option>Embrague</option>
                            </select>
                        </div>
                    </div>
                    <div >
                        <button type="submit" class="btn btn-danger col-md-12">Buscar</button>
                    </div>
                </div>
            </div>
                </form>
        </div>

        @retroceder()

        @footer()


            <!-- Bootstrap core JavaScript
   ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("js/jquery-2.1.4.min.js")"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>


            <script>

          $(function () {
            var $trepuesto = $("#trepuesto"),
                $repuesto = $("#repuesto");

                $trepuesto.on('change', function (e) {
                var x = $trepuesto.val(),
                    list;
                switch (x) {
                    case "Sistema":
                        list = ["Inyeccion", "Suspension", "Trasmision", "Embrague"];
                        break;
                    case "Producto de Consumo":
                        list = ["Aditivos", "Lubricantes", "Iluminacion", "Baterias", "Frenos"];
                        break;
                    case "Accesorios":
                        list = ["Carroceria", "Audio"];
                        break;
                }
                $repuesto.html(compact.options(list));
            });



            var compact = {
                options: function (list) {
                    var str = "";
                    for (opt in list) {
                        str += "<option>" + list[opt] + "</option>"
                    }
                    return str;
                }
            }
          });



            </script>



    </body>
</html>