@(
        id: Integer,
        vehiculos: java.util.List[Vehiculo_Usuario],
        disTop: java.util.List[Proveedor],
        tapTop: java.util.List[Proveedor],
        mecTop: java.util.List[Proveedor]
        )

<html>
    <head lang="en">

        <title>Pagina Principal: Caradvisor</title>
        <meta charset="UTF-8">
            <!-- Bootstrap -->
        <link href="@routes.Assets.at("css/bootstrap2.min.css")" rel="stylesheet">
            <!-- Bootstrap theme -->
        <link href="@routes.Assets.at("css/bootstrap-theme.css")" rel="stylesheet">
            <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("css/signin.css")" rel="stylesheet">
    </head>
    <body background="../assets/wallpaperweb.jpg" style="background-size : auto">

        @header()

        <div class="container" style="margin-top : 5%">
            <div class="row">
                <div class="container col-md-6">
                @if(id == 1) {

                    <div class="panel panel-danger">
                        <div class="panel-heading">Lista de vehiculos registrados</div>
                        <div class="panel-body">

                            <table class="table table-bordered">

                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Marca</th>
                                        <th>Modelo</th>
                                        <th>A&ntilde;o</th>
                                        <th>Color</th>
                                        <th>KM</th>
                                        <th></th>
                                    </tr>
                                </thead>


                                <tbody>

                                @for(vehiculo <- vehiculos) {
                                    <tr>
                                        <form method="post" action="@routes.Application.BusquedaRapida()">
                                            <input type="hidden" name="kilometraje" value="@vehiculo.getKilometraje" />
                                            <input type="hidden" name="marca" value="@vehiculo.getMarca" />
                                            <input type="hidden" name="modelo" value="@vehiculo.getModelo" />
                                            <th>@vehiculo.getContador</th>
                                            <td>@vehiculo.getMarca</td>
                                            <td>@vehiculo.getModelo</td>
                                            <td>@vehiculo.getYear</td>
                                            <td>@vehiculo.getColor</td>
                                            <td>@vehiculo.getKilometraje</td>
                                            <td>
                                                <button type="submit" class="btn btn-danger">
                                                    <span class="glyphicon glyphicon-chevron-right"
                                                    aria-hidden="true"></span>
                                                </button>
                                            </td>
                                        </form>
                                    </tr>
                                }
                                </tbody>


                            </table>
                            <p>
                                <button type="button" class="btn btn-danger" style="margin-top : 1 %"
                                data-toggle="modal" data-target="#myModal">
                                    Agregar Vehiculo</button>
                            </p>
                        </div>
                    </div>

                } else {

                    <div class="panel  panel-danger">
                        <div class="panel-heading">Lista de vehiculos registrados</div>
                        <div class="panel-body">
                            No cuenta con vehiculos registrados
                            <p>
                                <button type="button" class="btn btn-danger" style="margin-top : 1 %"
                                data-toggle="modal" data-target="#myModal">
                                    Agregar Vehiculo</button>
                            </p>
                        </div>
                    </div>

                }
                </div>
                <div class="container col-md-6">
                    <div class="panel  panel-danger">
                        <div class="panel-heading">Ranking Top 4</div>
                        <div class="panel-body">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Distribuidores</th>
                                        <th>Talleres</th>
                                        <th>Mecanicos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(i <- 0 to 3) {
                                    <tr>
                                        <td>
                                            <a href="@routes.Application.Proveedor(disTop.get(i).getId)">
                                        @disTop.get(i).getNombre</a>
                                        </td>
                                        <td>
                                            <a  href="@routes.Application.Proveedor(tapTop.get(i).getId)">
                                            @tapTop.get(i).getNombre</a>
                                        </td>
                                        <td>
                                            <a  href="@routes.Application.Proveedor(mecTop.get(i).getId)">
                                            @mecTop.get(i).getNombre</a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container col-md-6">
                    <div class="panel  panel-danger">
                        <div class="panel-heading">Busqueda Rapida</div>
                        <div class="panel-body">

                            <form id="formulario" method="POST"
                            action="@routes.Application.BusquedaRapida()">

                                <div class="container col-md-4">
                                    <p>Kilometraje</p>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon" id="sizing-addon3">KM</span>
                                        <input type="text" class="form-control" placeholder="Kilometraje"
                                        aria-describedby="sizing-addon3" name="kilometraje">
                                    </div>
                                </div>
                                <div class="container col-md-4">
                                    <div class="form-group">
                                        <label for="marca">Marca</label>
                                        <select id="marca" name="marca" class="form-control">

                                            <option>Mazda</option>
                                            <option>Toyota</option>
                                            <option>Suzuki</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="container col-md-4">
                                    <div class="form-group">
                                        <label for="sel1">Modelo</label>
                                        <select id="modelo" class="form-control" name="modelo">
                                            <option>Mazda 3</option>
                                            <option>Mazda 6</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-danger">Buscar</button>
                            </form>
                        </div>

                    </div>

                </div>
                <div class="container col-md-6">
                    <div class="panel  panel-danger">
                        <div class="panel-heading">Busqueda por Repuesto</div>
                        <div class="panel-body">
                            <form id="formulario" method="POST"
                            action="@routes.Application.BusquedaRepuesto()">


                                <div class="container col-md-4">
                                    <div class="form-group">
                                        <label for="marcabr">Marca</label>
                                        <select class="form-control" id="marcabr" name="marcabr">
                                            <option>Mazda</option>
                                            <option>Toyota</option>
                                            <option>Suzuki</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="container col-md-4">
                                    <div class="form-group">
                                        <label for="sel1">Tipo de Repuesto</label>
                                        <select class="form-control" id="trepuesto" name="trepuesto">
                                            <option>Sistema</option>
                                            <option>Producto de Consumo</option>
                                            <option>Accesorios</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="container col-md-4">
                                    <div class="form-group">
                                        <label for="sel1">Repuesto</label>
                                        <select class="form-control" id="repuesto" name="repuesto">
                                            <option>Inyeccion</option>
                                            <option>Suspension</option>
                                            <option>Trasmision</option>
                                            <option>Embrague</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-danger">Buscar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


                <!-- Modal -->

            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Agregar Vehiculo</h4>
                        </div>

                        <div class="modal-body">
                            <form class="form-horizontal" method="POST"
                            action="@routes.Application.AgregarVehiculo()">
                                <fieldset>

                                    <div class="form-group">
                                        <label for="select" class="col-lg-2 control-label">Marca</label>
                                        <div class="col-lg-10">
                                            <select id="marcaM" class="form-control"
                                            id="select" name="marcaM">
                                                <option>Mazda</option>
                                                <option>Toyota</option>
                                                <option>Suzuki</option>
                                            </select>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="select" class="col-lg-2 control-label">Modelo</label>
                                        <div class="col-lg-10">
                                            <select id="modeloM" class="form-control" name="modeloM">
                                                <option>Mazda 3</option>
                                                <option>Mazda 6</option>
                                            </select>
                                            <br>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputYear" class="col-lg-2 control-label">Year</label>
                                        <div class="col-lg-10">
                                            <input type="number" class="form-control" id="inputYear"
                                            placeholder="Year" name="year">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputColor" class="col-lg-2 control-label">Color</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" id="inputColor"
                                            placeholder="Color" name="color">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputKM" class="col-lg-2 control-label">KM</label>
                                        <div class="col-lg-10">
                                            <input type="number" class="form-control" id="inputKM"
                                            placeholder="KM" name="km">
                                        </div>
                                    </div>
                                </fieldset>
                                <button type="submit" class="btn btn-danger">Agregar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @footer()

            <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("js/jquery-2.1.4.min.js")"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>


            <!-- Bootstrap core JavaScript
   ================================================== -->

        <script>



          $(function () {
            var $marca = $("#marca"),
                $modelo = $("#modelo"),
                $marcaM = $("#marcaM"),
                $modeloM = $("#modeloM"),
                $trepuesto = $("#trepuesto"),
                $repuesto = $("#repuesto");

            $marca.on('change', function (e) {
                var x = $marca.val(),
                    list;
                switch (x) {
                    case "Mazda":
                        list = ["Mazda 3", "Mazda 6"];
                        break;
                    case "Toyota":
                        list = ["Yaris", "Corolla"];
                        break;
                    case "Suzuki":
                        list = ["Swift", "Alto"];
                        break;
                }
                $modelo.html(compact.options(list));
            });


            $marcaM.on('change', function (e) {
                var x = $marcaM.val(),
                    list;
                switch (x) {
                    case "Mazda":
                        list = ["Mazda 3", "Mazda 6"];
                        break;
                    case "Toyota":
                        list = ["Yaris", "Corolla"];
                        break;
                    case "Suzuki":
                        list = ["Swift", "Alto"];
                        break;
                }
                $modeloM.html(compact.options(list));
            });


                $trepuesto.on('change', function (e) {
                var x = $trepuesto.val(),
                    list;
                switch (x) {
                    case "Sistema":
                        list = ["Inyeccion", "Suspension", "Trasmision", "Embrague"];
                        break;
                    case "Producto de Consumo":
                        list = ["Aditivos", "Lubricantes", "Iluminacion", "Baterias", "Frenos"];
                        break;
                    case "Accesorios":
                        list = ["Carroceria", "Audio"];
                        break;
                }
                $repuesto.html(compact.options(list));
            });



            var compact = {
                options: function (list) {
                    var str = "";
                    for (opt in list) {
                        str += "<option>" + list[opt] + "</option>"
                    }
                    return str;
                }
            }
          });

        </script>


    </body>
</html>