@(id: Integer, vehiculos: java.util.List[Vehiculo])

<!DOCTYPE html>
<html>
    <head lang="en">

        <link rel="import" href="footer" id="pie">
        <link rel="import" href="header" id="cabeza">


        <title>Inicio de Sesion: Caradvisor</title>
        <meta charset="UTF-8">
            <!-- Bootstrap -->
        <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
            <!-- Bootstrap theme -->
        <link href="@routes.Assets.at("css/bootstrap-theme.css")" rel="stylesheet">
            <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("css/signin.css")" rel="stylesheet">
    </head>
    <body background="../assets/wallpaperweb.jpg" style="background-size: auto">

        <div id="header"></div>

        <div class="container" style="margin-top : 5%">

        @if(id==1) {

            <div class="panel panel-default">
                <div class="panel-heading " >Lista de vehiculos registrados</div>
                <div class="panel-body">

                    <table class="table">

                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>A&ntilde;o</th>
                                <th>Color</th>
                                <th>Caracteristicas</th>
                            </tr>
                        </thead>


                        <tbody>

                    @for(vehiculo <- vehiculos) {
                        <tr>
                        <th>@vehiculo.getID_vehiculo</th>
                        <td>@vehiculo.getMarca</td>
                        <td>@vehiculo.getModelo</td>
                        <td>@vehiculo.getYear</td>
                        <td>@vehiculo.getColor</td>
                        <td>@vehiculo.getCaracteristicas</td>
                        </tr>
                    }
                        </tbody>


                    </table>
                        <p>
                        <button type="button" class="btn btn-danger" style="margin-top : 1%">
                            Agregar Vehiculo</button>
                    </p>
                </div>
            </div>

        }else{

            <div class="panel panel-default">
                <div class="panel-heading " >Lista de vehiculos registrados</div>
                <div class="panel-body">
                    No cuenta con vehiculos registrados
                    <p>
                    <button  type="button" class="btn btn-danger" style="margin-top: 1%">
                        Agregar Vehiculo</button>
                    </p>
                </div>
            </div>

        }

        </div>

        <div class="footer" id="footer"></div>



            <!-- Bootstrap core JavaScript
   ================================================== -->

        <script>
          var link = document.getElementById('pie');
          var template = link.import.querySelector('template');
          var clone = document.importNode(template.content, true);
          document.querySelector('#footer').appendChild(clone);

           var link2 = document.getElementById('cabeza');
          var template2 = link2.import.querySelector('template');
          var clone2 = document.importNode(template2.content, true);
          document.querySelector('#header').appendChild(clone2);
         </script>


            <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("js/jquery-2.1.4.min.js")"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
    </body>
</html>