@(error: Integer, registro: Integer)

<!DOCTYPE html>
<html>
    <head lang="en">


        <title>Inicio de Sesion: Caradvisor</title>
        <meta charset="UTF-8">
            <!-- Bootstrap -->
        <link href="@routes.Assets.at("css/bootstrap2.min.css")" rel="stylesheet">
            <!-- Bootstrap theme -->
        <link href="@routes.Assets.at("css/bootstrap-theme.css")" rel="stylesheet">
            <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("css/signin.css")" rel="stylesheet">
    </head>
    <body background="../assets/wallpaperweb.jpg" style="background-size : auto">

        @header()

        <div class="container" style="margin-top : 5%">

            @if(registro == 0){
                <div class="alert alert-danger" role="alert">Usuario Registrado!</div>
            }

            <div class="container" align="center" >
                <img class="img-responsive" style="margin-left : -2%" src="../assets/logo.png">
            </div>

            <form class="form-signin" id="formulario" method="POST"
            action="@routes.Application.ValidaciondeUsuario()">
                @if(error == 1) {

                    <p>&nbsp;</p>
                    <div class="alert alert-danger" role="alert">
                        <h4>Usuario y/o clave incorrectas</h4>
                    </div>
                }
                <div class="form-group">
                    @*<label for="username">Nombre de usuario</label>*@
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    @*<label for="password">Password</label>*@
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button class="btn btn-lg btn-danger btn-block" type="submit">Iniciar Sesion
                </button> </form>
                <button class="btn btn-lg btn-danger btn-block form-signin" type="submit"
                data-toggle="modal" data-target="#myModal">Registrarse
                </button>

        </div>

            <!-- Modal -->

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Registrar Usuario</h4>
                    </div>

                    <div class="modal-body">
                        <form class="form-horizontal" method="POST"
                        action="@routes.Application.RegistrarUsuario()">
                            <fieldset>


                                <div class="form-group">
                                    <label for="inputuser" class="col-lg-2 control-label">Username</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputuser"
                                        placeholder="inputuser" name="inputuser">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-lg-2 control-label">Password</label>
                                    <div class="col-lg-10">
                                        <input type="password" class="form-control" id="password"
                                        placeholder="Password" name="password">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputNombre" class="col-lg-2 control-label">Nombre</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputNombre"
                                        placeholder="Nombre" name="inputNombre">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputApellido" class="col-lg-2 control-label">Apellido</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputApellido"
                                        placeholder="Apellido" name="inputApellido">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputDNI" class="col-lg-2 control-label">DNI</label>
                                    <div class="col-lg-10">
                                        <input type="number" class="form-control" id="inputDNI"
                                        placeholder="DNI" name="inputDNI">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputDireccion" class="col-lg-2 control-label">Direccion</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputDireccion"
                                        placeholder="Direccion" name="inputDireccion">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="number" class="col-lg-2 control-label">Telefono</label>
                                    <div class="col-lg-10">
                                        <input type="number" class="form-control" id="number"
                                        placeholder="Telefono" name="number">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="col-lg-2 control-label">Email</label>
                                    <div class="col-lg-10">
                                        <input type="email" class="form-control" id="email"
                                        placeholder="E-mail" name="email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="select" class="col-lg-2 control-label">Perfil</label>
                                    <div class="col-lg-10">
                                        <select id="perfil" class="form-control"
                                        id="select" name="perfil">
                                            <option>Usuario</option>
                                            <option>Distribuidor</option>
                                            <option>Taller</option>
                                            <option>Mecanico</option>
                                        </select>
                                        <br>
                                    </div>
                                </div>


                            </fieldset>
                            <button type="submit" class="btn btn-danger">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        @footer()


            <!-- Bootstrap core JavaScript
   ================================================== -->


            <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("js/jquery-2.1.4.min.js")"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
    </body>
</html>