@(prov: Proveedor, cad: String)


<!DOCTYPE html>
<html>
    <head lang="en">

        <title>Busqueda Rapida: Caradvisor</title>
        <meta charset="UTF-8">
            <!-- Bootstrap -->
        <link href="@routes.Assets.at("css/bootstrap2.min.css")" rel="stylesheet">
            <!-- Bootstrap theme -->
        <link href="@routes.Assets.at("css/bootstrap-theme.css")" rel="stylesheet">
            <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("css/signin.css")" rel="stylesheet">
    </head>
    <body background="../assets/wallpaperweb.jpg" style="background-size : auto">

        @cabecera()


    <div class="container" style="margin-top : 5%">

        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Proveedor: @prov.getNombre</h3>
            </div>
            <div class="panel-body col-md-6">
                <div class="row">
                    <div style="margin-bottom: 2%">
                        <p>
                        <text class="h2">&nbsp; Tipo: @prov.getTipo</text>
                        </p>
                        <p>
                        <text class="h2">&nbsp; Servicio: @prov.getServicio</text>
                        </p>
                        <p>
                        <text class="h2">&nbsp; Direccion: @prov.getDireccion</text>
                        </p>
                        <p>
                        <text class="h2">&nbsp; Telefono: @prov.getTelefono</text>
                        </p>
                        <p>
                        <text class="h2">&nbsp; Web: @prov.getWeb</text>
                        </p>
                        <p>
                        <text class="h2">&nbsp; Puntaje: @prov.getPuntaje</text>
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel-body col-md-6">
                <img class="img-responsive" src="@cad">
            </div>

        </div>
        </div>


       @retroceder()

       @footer()


            <!-- Bootstrap core JavaScript
   ================================================== -->


            <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("js/jquery-2.1.4.min.js")"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>

    </body>
</html>